<!doctype html>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<html>
    <head>
        <title>Recent 5-year Oscar Movies</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head> 

    <body>
    	    {% if message %}

    	        <p> <h2> {{message}} </h2></p>

    	    {% endif %}

    	<div class='home'>
    		<div id='contact-form'>
    			<form method='post' action='/movie'>
    				<label for='text'>Please Enter a Year to Search a Movie</label>
    				<input type='text' id='dob' name='dob' required='required'>
    				<input type="submit" value="Submit" id="submit"/>
    			</form>
    		</div>
    	</div>
    </body>

