body{
	background-image:url(Oscar.jpg);
	background-size: cover;
    text-align: center;
    color: #F0E68C;
    font-family: 'Comfortaa', cursive;
    margin: 60px;
	font-size: 30px;
}
input{
	  border: 0;
      padding:8px;
      font-size:15px;
      font-family: 'Comfortaa', cursive;
      border-radius: 12px;
}
input[type="submit"]{
      background:#FFFACD;
      color:gray;
    }